body {
  background: #0f172a;
  font-family: Arial;
}

.home {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.join-form {
  background: #020617;
  padding: 30px;
  border-radius: 8px;
  color: white;
}

input, select, button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}

